@model Department
@{
    ViewData["Title"] = "Details";
}

<h1>Department Details</h1>
<br />
<br />
<br />

<div class="row">
    <div class="col-12">
        <div class="from-group">
            <label asp-for="@Model.Code" class="col-form-label"></label>
            <input asp-for="@Model.Code" class="form-control>" readonly />
        </div>
        <div class="from-group">
            <label asp-for="@Model.Name" class="col-form-label"></label>
            <input asp-for="@Model.Name" class="form-control>" readonly />
        </div>
        <div class="from-group">
            <label asp-for="@Model.DateOfCreation" class="col-form-label"></label>
            <input asp-for="@Model.DateOfCreation" class="form-control>" readonly />
        </div>

        <br />

        <a class="btn btn-sucess" asp-action="Update" asp-route-id="AModel.Id">Update</a>
        <a class="btn btn-light" asp-action="Index">Back To List</a>
    </div>
</div>

